
<body>
    <app-navbar>
        
    </app-navbar>
    
    
    <app-not-found [visible]="!medicineData || medicineData.length <= 0" resetLinkText="Reset Search"></app-not-found>
    <div>
        <input type="text" placeholder="Search here!" [(ngModel)]="searchTerm" (ngModelChange)="search()" >
    </div>
    
    
    
    
    <table class="table mt-3">  
    
        <thead>
            <tr>
            <th scope="col">Medicine Name</th>
           
            <th scope="col">Description</th>
            
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of medicineData">
       
        <td>{{row.medicineName}}</td>
     
        <td>{{row.medicineDescription}}</td>
        
        <td>{{row.medicinePrice}}</td>
        <td>{{row.instock}}</td>
            <td> 
            <button style="color:rgb(249, 245, 245)" type="button" class="btn btn-primary" 
            data-bs-toggle="modal"data-bs-target="#exampleModal" class="btn btn-info" routerLink="/cart-page" (click)="addtoCart(row)">Add to Cart</button>
         </td>
        
            
        </tr>
        </tbody>
        </table>
    </body>