<!-- CSS only -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<nav class="navbar navbar-light bg-primary"> 
  <div class="container-fluid">

  <h3 style="color: aliceblue; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: x-large;">  MEDICINE DETAILS </h3> 
  <div class="d-flex"> 
      <button (click)="clickAddMedicine()" type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#exampleModal"class="btn btn-success">Add Medicine</button>&nbsp;
     <button  type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#exampleModal1"class="btn btn-success" routerLink="/adminregister" >Add Admin</button>&nbsp;
     <button type="button" class="btn btn-warning" routerLink="/user-list" >All USER</button>&nbsp;
      
      <button type="button" class="btn btn-warning" routerLink="/transact" >Transactions</button>&nbsp;
      <button  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1"class="btn btn-danger" routerLink="/adminlogin" >Logout</button>&nbsp;  
    </div>
  </div>
  </nav> 
<table class="table table-striped">  
<thead>
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Medicine Name</th>
    <th scope="col">Medicine Description</th>
    <th scope="col">Price</th>
    <th scope="col">Availability</th>
    <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let row of medicineData">
<td>{{row.medicineId}}</td>
<td>{{row.medicineName}}</td>
<td>{{row.medicineDescription}}</td>
<td>{{row.medicinePrice}}</td>
<td>{{row.instock}}</td>
    <td> 
    <button (click)="onEdit(row)" style="color:rgb(186, 241, 245)" type="button" class="btn btn-warning" data-bs-toggle="modal"data-bs-target="#exampleModal" >Edit</button>
   <button (click)="deleteMedicine(row)" class="btn btn-danger mx-3">Delete</button></td>

    
</tr>
</tbody>
</table>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title"   id="exampleModalLabel">Item Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Medicine Name</label>
                  <input type="text" formControlName="medicineName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="email" formControlName="medicineDescription"class="form-control" id="exampleInputPassword1">
                  </div>
                  
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price</label>
                    <input type="number" formControlName="medicinePrice"class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Availability</label>
                    <input type="email" formControlName="instock"class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postMedicineDetails()" class="btn btn-primary">Add</button>
          <button type="button"  (click)="updateMedicine()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
